body {
    text-align: center;
}

#img-div {
    position: relative;
}

#image {
    max-width: 100%;
    display: block;
    margin: 0 auto;
    height: auto;
}


.list-items ul{
    
    margin-left: 25%;
    margin-right: 25%;
    text-align: left;
    
}


.list-items ul li{
padding: 2vh;
    
}